/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of RESET */

/* BASIC styles, used all throughout the page */
*,
::after,
::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #555;
}

a {
  color: #f42;
  text-decoration: none;
}

h3 a {
  color: #000;
  font-size: 20px;
}

img {
  width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "avalon", sans-serif;
  font-size: 28px;
  color: #f42;
  font-weight: 700;
  line-height: 31px;
}

.white {
  color: white;
}

.blue {
  color: #146ff8;
}

.orange {
  color: #f42;
}

.centered {
  text-align: center;
}

.opacity {
  opacity: 0.25;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1192px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: #000;
  margin-top: 10px;
}

h4,
h5 {
  font-size: 14px;
}

h5 {
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.maincontent {
  padding-top: 100px;
  padding-bottom: 100px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* nav */

.main-nav {
  display: flex;
  justify-content: space-between;
  height: 48px;
  box-shadow: 0 0 32px rgb(0 0 0 / 15%);
  width: 100%;
}

.navbar {
  position: fixed;
  z-index: 20;
  width: 100%;
}

.yellow-info {
  width: 100%;
  height: 60px;
  background-color: #fd3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131313;
}

.announcement {
  color: #555;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.menu-container {
  width: 100%;
}

.nav-logo {
  background-color: black;
  width: 106px;
  padding: 12px;
}

.nav-icon-container {
  float: right;
}

.nav-icon {
  height: 48px;
  width: 48px;
  float: left;
  border-left: 1px solid #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-navbar {
  height: 32px;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  display: none;
}

.bottom-navbar {
  display: flex;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}

.bottom-menu {
  display: none;
  font-family: "shentox", sans-serif;
  color: #aaa;
  font-size: 14px;
  font-style: normal;
}

li {
  display: inline;
}

.bottom-menu li {
  padding-left: 15px;
}

.top-menu li {
  padding-left: 4px;
  padding-right: 4px;
  color: hsla(0, 0%, 100%, 0.6);
}

@media (min-width: 760px) {
  .main-nav {
    height: 80px;
  }

  .maincontent {
    padding-top: 108px;
  }

  .yellow-info {
    height: 30px;
    justify-content: start;
    padding-left: 110px;
  }

  .nav-logo {
    padding-top: 32px;
  }

  .nav-logo:hover {
    background-image: url("/img/tenor.gif");
    background-size: cover;
  }

  .menu {
    display: none;
  }

  .top-navbar {
    display: flex;
  }

  .bottom-navbar {
    justify-content: space-between;
  }

  .bottom-menu {
    display: inline-table;
  }
}

@media (min-width: 1024px) {
  .nav-logo {
    display: none;
  }
}

/* cover */

.cover-2 {
  background-image: url('https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Untitled-design-2021-01-26T112752.972-796x417.png');
}

.cover-3 {
  background-image: url('https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Gemini2-duplicates-monitor-alert-e1611566958933-796x420.png');
}

.cover-1 {
  background-image: url('https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal-796x417.jpg');
}

.cover {
  margin: 0 auto;
  padding: 4px;
  position: relative;
}

.cover-story {
  float: left;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: 100%;
}

.cover article {
  min-height: 30vh;
  position: relative;
}

.lazy {
  transition: 0.4s ease;
  opacity: 0;
  will-change: opacity;
}

.lazyLoaded {
  opacity: 1;
}

.cover-image,
.cover-trigger {
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.cover-image {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}

.cover-header {
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  position: absolute;
  right: 4px;
  z-index: 3;
}

.cover h5 {
  color: #fff;
}

.cover .post-body a strong,
.cover a,
.cover h1,
.post-body a .cover strong {
  color: #fff;
}

@media (max-width: 767px) {
  .cover .distraction-title,
  .cover h2 {
    font-size: 20px;
  }

  .announcement {
    font-size: 12px;
  }
}

.distraction-title,
h2,
h3 {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
}

.distraction-title,
h2 {
  font-family: sans-serif;
  font-size: 28px;
  letter-spacing: -0.015em;
}

.cover .distraction-title,
.cover h2 {
  margin-bottom: 0.25em;
}

.cover-byline li {
  display: inline-block;
  margin-left: 6px;
}

.cover-byline .post-body a strong,
.cover-byline a,
.post-body a .cover-byline strong {
  color: hsla(0, 0%, 100%, 0.6);
}

.icon {
  display: block;
  width: 30px;
  height: 30px;
}

.icon--clock--light {
  background-color: transparent;
  background-image: url(https://img.icons8.com/small/32/ffffff/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 21px;
  background-size: cover;
}

.icon--share--light {
  background-color: transparent;
  background-image: url(https://img.icons8.com/small/32/ffffff/share.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 21px;
  height: 21px;
  background-size: cover;
}

.cover-trigger {
  transition: background-color 0.4s ease;
  background: linear-gradient(to top, black, transparent);
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 2;
}

.cover-gradient,
.cover-logo {
  display: none;
}

/* responsive cover */

@media (min-width: 768px) {
  .grid-cover {
    display: grid;
    grid-template:
      "focal focal focal support support"
      "focal focal focal extra extra";
  }

  .focal {
    grid-area: focal;
  }

  .support {
    grid-area: support;
  }

  .extra {
    grid-area: extra;
  }

  .focal h2 {
    font-size: 40px;
    line-height: 1;
  }
}

@media (min-width: 1024px) {
  .focal h2 {
    font-size: 56px;
    line-height: 1;
  }

  .cover-gradient {
    display: block;
    background: linear-gradient(to bottom, #f42, transparent);
    background-position: 0 0;
    background-size: cover;
    bottom: 4px;
    left: 4px;
    mix-blend-mode: lighten;
    pointer-events: none;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 4;
  }

  .cover-logo,
  .cover-date {
    display: block;
    color: #fff;
    position: absolute;
    right: 24px;
    z-index: 5;
  }

  .cover-logo {
    background-color: transparent;
    background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 24px;
    max-width: 50%;
    height: 100%;
    max-height: 112px;
    line-height: 1;
    top: 24px;
    pointer-events: none;
    text-align: right;
  }

  .cover-date {
    top: 16px;
  }

  .support h2,
  .extra h2 {
    font-size: 28px;
  }

  .cover-header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* funding */

.funding {
  margin-bottom: 2em;
}

.funding-hdr {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.funding-hdr h2 {
  line-height: 32px;
}

.funding-hdr a {
  margin-top: 1em;
}

.verticals {
  margin-bottom: 2em;
}

.vertical {
  min-height: 60px;
  position: relative;
}

.story--investment {
  background: #fffaf8;
  height: 105%;
}

.story-investmentCard-header {
  position: relative;
  display: block;
}

.story-investmentCard-company-image {
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  min-height: 60px;
  max-height: 60px;
  margin: 10.6666666667px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.story-investmentCard-deets {
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  color: #000;
  background: rgba(255, 68, 34, 0.08);
  margin: 0;
}

.story-investmentCard-name {
  background: #f42;
  color: #fff;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  margin: 0 !important;
  font-size: 18px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.story-investmentCard-deets h4 {
  font-size: 18px;
  color: #000;
  margin: 0 !important;
}

.vertical h5 {
  color: #f42;
  font-size: 11px;
}

.story-investmentCard-deets h5 {
  color: #000;
  opacity: 0.5;
}

.story-investmentCard-card {
  padding: 16px;
}

.story-investmentCard-bit .icon {
  position: absolute;
  top: 0.2em;
  left: 0;
  opacity: 0.9;
}

.icon--tag--dark {
  background-position: -5px -5px;
  background-color: transparent;
  background-image: url(https://img.icons8.com/ios-glyphs/26/000000/price-tag.png);
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.icon--briefcase--dark {
  background-position: -1px -1px;
  background-color: transparent;
  background-image: url(https://img.icons8.com/ios-filled/16/000000/briefcase.png);
  background-repeat: no-repeat;
}

.story-investmentCard-bit {
  padding-left: 2em;
  position: relative;
  font-size: 13px;
  color: #555;
  margin-right: 1em;
  display: block;
  line-height: 22px;
}

.story--investment .story-byline {
  margin-top: 0;
}

.vertical .story-byline {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  margin-top: 10px;
  padding-top: 10px;
}

.story-addPadding {
  padding: 16px;
}

.story-byline li {
  display: block;
  float: left;
}

.vertical .story-title-link {
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
}

.last-funding {
  display: none;
}

.links-funding-hdr {
  display: flex;
  flex-direction: column;
}

/* responsive funding  */

@media (min-width: 768px) {
  .links-funding-hdr {
    flex-direction: row;
  }

  .funding-header-more {
    margin: 0 1em;
  }
}

@media (min-width: 1024px) {
  .last-funding {
    display: block;
  }

  .vertical {
    padding: 12px;
  }

  .funding-hdr {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* latest */

.latest {
  margin-bottom: 2em;
  padding-top: 24px;
}

.latest-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.latest-row {
  width: 100%;
  padding: 8px 8px;
  flex-direction: column;
}

.latest-container img {
  object-fit: cover;
  height: 75px;
  width: 75px;
  float: left;
  margin-right: 15px;
}

.caption {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #aaa;
  line-height: 18px;
  font-weight: 400;
  position: relative;
  bottom: 0;
}

.tittle-content {
  height: 100%;
  float: right;
}

.latest-text {
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) {
  .latest-container {
    display: grid;
    grid-template-areas:
      "i1 i2 i3"
      "i4 i5 i6"
      "i7 i8 .";
  }

  .latest-row {
    display: flex;
    flex-direction: column;
  }

  .latest-row img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .latest-container {
    display: grid;
    grid-template-areas:
      "i1 i2 i3 i4"
      "i5 i6 i7 i8";
  }
}

/* catalog */
[class*=" u-col-"],
[class^="u-col-"] {
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
}

.u-row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0;
}

.catalog {
  margin-bottom: 40px;
}

.u-col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.topic h2 {
  margin-bottom: 14px;
}

.arrowh2-topic {
  background-image: url(https://img.icons8.com/color/48/000000/chevron-right.png);
  background-size: 16px 16px;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: 4px;
  position: relative;
  top: 0;
  width: 16px;
}

.topic-popular {
  height: 0;
  padding-top: 75%;
  position: relative;
  width: 100%;
}

.topic-popular-image {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.topic-popular-trigger {
  background: linear-gradient(to top, black, transparent);
  background-size: 100% 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.topic-popular-header {
  bottom: 0;
  left: 0;
  padding: 14px;
  position: absolute;
  right: 0;
  z-index: 3;
}

.topic-popular-section {
  color: #fff;
  font-size: 13px;
  pointer-events: none;
}

.topic-popular-title {
  margin-bottom: 6px;
  color: #fff;
  padding-left: 0;
}

.topic-popular-byline {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.topic-popular-byline li {
  display: block;
  float: left;
}

.topic-popular-byline a {
  color: hsla(0, 0%, 100%, 0.6);
}

.topic-popular-title-a {
  color: #fff;
}

.timeago {
  padding-left: 10px;
}

.topic-latest {
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 68, 34, 0.06);
  margin: 2px 0;
}

.topic-latest-header {
  flex: 1;
  overflow: hidden;
  padding: 10px 14px 0;
}

.topic-latest-section {
  color: #f42;
  font-size: 13px;
}

.topic-latest-title {
  max-height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.topic-latest-title-a {
  color: #f42;
}

.topic-latest-image {
  flex: 0 0 96px;
  background-color: #000;
  background-position: 50%;
  background-size: cover;
  height: 96px;
  width: 96px;
}

.topic-headline {
  border-bottom: 1px solid #eee;
}

.topic-headline-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
}

.topic-headline-title-a {
  color: #aaa;
}

.dotbeofre-headline {
  color: #f42;
  display: inline;
}

.topic-headline h4 a {
  color: #555;
  display: block;
  padding: 6px 0 6px 14px;
  position: relative;
}

.catalog1 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1280px-GameStop_Globen-e1611550531323-368x276.jpg");
}

.catalog2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1280px-20th_Anniversary_Schwab_Foundation_Gala_Dinner_44887783681-e1611132397581.jpg");
}

.catalog3 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Snag_3c8ecdc-368x276.png");
}

.catalog4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2015/03/MacBook-USB-C-Feat-Img-730x365.jpg");
}

.catalog5 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/vintage-robot-368x276.jpg");
}

.catalog6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/Untitled-design-13-368x276.png");
}

.catalog7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/open-source-code-gq-368x276.png");
}

.catalog8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/zoom-fundraising-gq-368x276.png");
}

.catalog9 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/12/toyota-suv-new-ev-car-future-electric-japan-368x276.jpg");
}

.catalog10 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/amplified-368x276.jpg");
}

.catalog11 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/header-image-bernie-sitting-meme-analysis.png");
}

.catalog12 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/11/Apple-AR-glasses-headset.jpg");
}

.catalog13 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/1-copy-52.jpg");
}

.catalog14 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/09/Untitled-design-13.jpg");
}

.catalog15 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/google-logo-podium.png");
}

.catalog16 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/dev-leadership-gq.png");
}

.catalog17 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/10/hummer-ev-future-car-love-hate-next-gmc-gm-ultium.jpg");
}

.catalog18 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/bloodlines.jpg");
}

/* responsive catalog */

@media (min-width: 768px) {
  .topic {
    margin-bottom: 24px;
  }

  .u-col-m-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  [class*="u-col-"] {
    padding: 10px;
  }

  .u-col-m-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 1024px) {
  .u-col-l-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .u-col-l-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

/* Access icon */

.access {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  height: 25px;
  width: 25px;
  background-color: #146ff8;
  transition: margin 0.5s, border-radius 0.5s;
}

.img-access {
  padding: 3px;
}

@media (min-width: 1024px) {
  .access {
    margin: 15px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
  }

  .img-access {
    padding: 7px;
  }
}

.access:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.img-footer {
  height: 10px;
  width: auto;
}

/* stuff I need to put in the bottom so that linters doesn't complain */

.cover-byline li:first-child {
  margin-left: 0;
}

h3 a:hover {
  color: #f42;
}

.vertical .story-byline li a {
  color: #555;
}

.bottom-menu li:hover {
  color: #000;
  cursor: pointer;
}

.cover-byline li .icon {
  scale: 0.875;
  float: left;
  margin-right: 4px;
  opacity: 0.6;
  vertical-align: middle;
}

.story-investmentCard-bit:not(:last-child) {
  margin-bottom: 0.5em;
}

.top-menu li:hover {
  cursor: pointer;
  color: white;
}

/* deals */

.offer-text {
  text-decoration: line-through;
  font-size: 12px;
}

.caption-offer {
  font-size: 14px;
  color: #555;
}

/* footer */

.main-footer {
  height: 257px;
}

.top-footer {
  height: 190px;
  padding-top: 42px;
  padding-bottom: 28px;
  background-color: #131313;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.bottom-footer {
  height: 97px;
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: #000;
}

.icon-circle {
  background-color: #333;
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.social-center {
  display: inherit;
  margin: 0 auto;
}

.social-links {
  display: inherit;
  width: auto;
  margin: 0 auto;
}

.footer-links {
  color: #aaa;
  font-size: 13px;
  margin-top: 20px;
}

.link-footer {
  margin-left: 5px;
  font-family: sans-serif;
}

.caption-footer {
  text-align: center;
  color: white;
  display: block;
}
