@import "fonts.css";
/* reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end of RESET */

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-size: 14px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: #555;
}

a {
  text-decoration: none;
}

.header {
  margin-top: 50px;
}

.cover-l {
  height: 25vh;
}

/* FONT CLASSES */

.font-s-13 {
  font-size: 13px;
}

.font-s-14 {
  font-size: 14px;
}

.font-tittle {
  font-size: 26px;
  line-height: 26px;
}

.font-subtittle {
  font-size: 26px;
  line-height: 26px;
}

.line-h-32 {
  line-height: 32px;
}

.line-h-21 {
  line-height: 21px;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.ff-arial {
  font-family: Arial, Helvetica, sans-serif;
}

.ff-sans-serif {
  font-family: sans-serif;
}

/* FLEX CLASSES */
.d-flex {
  display: flex;
}

.fd-row {
  flex-direction: row;
}

.fd-column {
  flex-direction: column;
}

.jc-s-between {
  justify-content: space-between;
}

.jc-s-around {
  justify-content: space-around;
}

.jc-s-evenly {
  justify-content: space-evenly;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-v-center {
  align-items: center;
}

.jc-f-end {
  justify-content: flex-end;
}

.jc-f-start {
  justify-content: start;
}

/* POSITIONING CLASESS */

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.margin-10 {
  margin: 0 10px;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

/* COLOR CLASSES */
.orange {
  color: #f42;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.gray {
  color: hsla(0, 0%, 100%, 0.6);
}

.hard-gray {
  color: #aaa;
}

/* SIZE CLASSES */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.padding-header {
  padding: 5px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .d-none-mobile {
    display: none;
  }

  .font-tittle {
    font-size: 46px;
    line-height: 46px;
  }

  .navbar {
    height: 80px;
  }

  .cover-l {
    width: 65%;
    height: 50vh;
  }

  .header {
    flex-direction: row;
    margin-top: 82px;
  }

  .cover-r {
    width: 35%;
  }
}

@media (max-width: 768px) {
  .top-nav {
    display: none;
  }

  .bottom-menu {
    display: none;
  }
}

@media (min-width: 1024px) {
  .nav-logo {
    display: none;
  }
}

/* HTML CLASSES */

.navbar {
  position: fixed;
  top: 0;
  border-bottom: 1px solid #eee;
}

.mobile {
  background-color: #fff;
  height: 100%;
}

.nav-logo {
  background-color: #000;
  width: 106px;
}

.nav-img {
  height: 16px;
  width: 66px;
}

.icon-nav-container {
  border-left: 1px solid #eee;
  width: 49px;
  height: 48px;
}

.bottom-nav {
  background-color: #fff;
  height: 48px;
  width: 100%;
}

.top-nav {
  background-color: #000;
  width: 100%;
  height: 32px;
}

.top-menu {
  list-style: none;
  display: inline;
  padding: 0 5px;
}

.h-white:hover {
  color: #fff;
}

.h-black:hover {
  color: #000;
}

.cover-r {
  height: 50vh;
}

.cover-row {
  height: 50%;
}

.bg-1 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Opal-796x417.jpg");
  background-position: center;
  background-size: cover;
}

.shadow-cover {
  background: #000;
  opacity: 50%;
  position: relative;
  height: 100%;
  width: 100%;
}

.tittle-header {
  bottom: 0;
  padding: 10px 20px;
}

.bg-2 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Untitled-design-2021-01-26T112752.972-796x417.png");
  background-position: center;
  background-size: cover;
}

.bg-3 {
  background-image: url("https://wr.perma-archives.org/public/m5zv-q2d6/20210126152647mp_/https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/01/Gemini2-duplicates-monitor-alert-e1611566958933-796x420.png");
  background-position: center;
  background-size: cover;
}


.funding {
  margin-bottom: 2em;
}

.funding-hdr {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}

.funding-hdr h2 {
  line-height: 32px;
}

.funding-hdr a {
  margin-top: 1em;
}

.links-funding-hdr {
  display: flex;
  flex-direction: column;
}

.funding-hdr a {
  margin-top: 1em;
}

a {
  color: #f42;
  text-decoration: none;
}

.u-row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0;
}

.verticals {
  margin-bottom: 2em;
}

.u-col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

[class*=" u-col-"], [class^="u-col-"] {
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
}

.funding-hdr h2 {
  line-height: 32px;
}
.distraction-title, h2 {
  font-family: sans-serif;
  font-size: 28px;
  letter-spacing: -0.015em;
}
.distraction-title, h2, h3 {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
}

.vertical {
  min-height: 60px;
  position: relative;
}
.story--investment {
  background: #fffaf8;
}

.story-investmentCard-header {
  position: relative;
  display: block;
}

a {
  color: #f42;
  text-decoration: none;
}

.story-investmentCard-card {
  padding: 16px;
}

.story-investmentCard-bit:not(:last-child) {
  margin-bottom: 0.5em;
}

.story-investmentCard-bit {
  padding-left: 2em;
  position: relative;
  font-size: 13px;
  color: #555;
  margin-right: 1em;
  display: block;
  line-height: 22px;
}

a {
  color: #f42;
  text-decoration: none;
}

.vertical .story-byline {
  border-top: 1px solid rgba(255, 68, 34, 0.25);
  margin-top: 10px;
  padding-top: 10px;
}

.story--investment .story-byline {
  margin-top: 0;
}

.story-addPadding {
  padding: 16px;


.maincontent {
  padding-top: 90px;
  padding-bottom: 100px;
}

@media (min-width: 768px){
  .grid-cover {
    display: grid;
    grid-template:
        "focal focal focal support support"
        "focal focal focal extra extra";
  }

  .focal {
    grid-area: focal;
  }

  .extra {
    grid-area: extra;
  }

  .support {
    grid-area: support;
  }
}

@media (max-width: 767px){
  .cover .distraction-title, .cover h2 {
      font-size: 20px;
  }
}
@media (min-width: 1024px){

  .cover-gradient {
    display: block;
    background: linear-gradient(to bottom, #FF0101, transparent);
    background-position: 0 0;
    background-size: cover;
    bottom: 4px;
    left: 4px;
    mix-blend-mode: lighten;
    pointer-events: none;
    position: absolute;
    right: 4px;
    top: 4px;
    z-index: 4;
}

  .support h2, .extra h2 {
    font-size: 28px;
  }

  .cover-header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cover-date {
    top: 16px;
  }

  .cover-logo {
    background-color: transparent;
    background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg);
    background-repeat: no-repeat;
    background-size: contain;
    left: 24px;
    max-width: 50%;
    height: 100%;
    max-height: 112px;
    line-height: 1;
    top: 24px;
    pointer-events: none;
    text-align: right;
}

.cover-logo, .cover-date {
    display: block;
    color: #fff;
    position: absolute;
    right: 24px;
    z-index: 5;
  }
}

.cover {
    margin: 0 auto;
    padding: 4px;
    position: relative;
}

.cover article {
  min-height: 30vh;
  position: relative;
}
.cover-story {
  float: left;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.cover-image {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}
.cover-image, .cover-trigger {
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
}

.lazy {
  transition: 0.4s ease;
  opacity: 0;
  will-change: opacity;
}

.lazyLoaded {
  opacity: 1;
}

.cover-trigger {
  transition: background-color 0.4s ease;
  background: linear-gradient(to top, black, transparent);
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 2;
}

.cover-header {
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  position: absolute;
  right: 4px;
  z-index: 3;
}

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.u-col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

[class*=" u-col-"], [class^="u-col-"] {
  flex: 0 0 auto;
  padding: 8px;
  position: relative;
}

.vertical {
  min-height: 60px;
  position: relative;
}

.story--investment {
  background: #fffaf8;
}

.catalog {
  margin-bottom: 40px;
}

.u-row {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: 0;
}

.access {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0;
  margin: 20px;
  height: 45px;
  width: 45px;
  background-image: url(../img/access.png);
  background-color: #146ff8;
  border-radius: 50%;
  transition: transform 1s;
}

@media (min-width: 1024px) {
  .last-funding {
    display: block;
  }

  .vertical {
    padding: 12px;
  }

  .funding-hdr {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 768px){
.support {
    grid-area: support;
}
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1192px;
}
  
.cover-byline li:first-child {
  margin-left: 0;
}
.cover-byline li {
  display: inline-block;
  margin-left: 6px;
}
li {
  display: inline;
}

.cover .post-body a strong, .cover a, .cover h1, .post-body a .cover strong {
  color: #fff;
}

.cover .distraction-title, .cover h2 {
  margin-bottom: 0.25em;
}
.distraction-title, h2 {
  font-family: sans-serif;
  font-size: 28px;
  letter-spacing: -0.015em;
}
.distraction-title, h2, h3 {
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
}
h2 {
  font-family: "avalon", sans-serif;
  font-size: 28px;
  color: #f42;
  font-weight: 700;
  line-height: 31px;
}


.top-footer {
  height: 190px;
  padding-top: 42px;
  padding-bottom: 28px;
  background-color: #131313;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.social-links {
  display: inherit;
  width: auto;
  margin: 0 auto;
}

.icon-circle {
  background-color: #333;
  border-radius: 50%;
  padding: 10px;
  height: 40px;
  width: 40px;
  margin: 5px;
}

.footer-links {
  color: #aaa;
  font-size: 13px;
  margin-top: 20px;
}

.link-footer {
  margin-left: 5px;
  font-family: sans-serif;
}

.bottom-footer {
  height: 97px;
  padding-top: 39px;
  padding-bottom: 39px;
  background-color: #000;
}

.caption-footer {
  text-align: center;
  color: white;
  display: block;
}

/* *, ::after, ::before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  outline: none;
  text-rendering: optimizeLegibility;
} */
